

.container{
    animation: App-logo-spin 2s ease; 
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(17, 17, 17, 0.9);
    z-index: 10;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#phaser{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: App-logo-spin2 4s ease-in; 
    flex-direction: column;

}

@keyframes App-logo-spin {
    from { height: 0; }
    to { height: 100%; }
  }
  

  @keyframes App-logo-spin2 {
    0%{transform: translateX(400%)}
    65%{transform: translateX(-40%)}
    85%{transform: translateX(30%)}
    100% { transform: translateX(0)}
  }